 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #fff;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2%;
}

.logo h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

.logo p {
  font-size: 0.9rem;
  color: #777;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
  color: #000;
  border-bottom: 2px solid #000;
}


.hero {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.about{
  max-width: 90%;
  font-size: 50px;
  font-family: "Playfair Display",serif;
  font-weight: normal;
}


.about{
  max-width: 494px;
  font-size: 54px;
}
.no{
  max-width: 494px;
  font-size: 18px;
  padding: 10px;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  gap: 1px;
  align-items: center;
}
.btn{
  background-color: #F2F0DF;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}
.link{
  text-decoration: none;
  color: #000;
}
.info-box{
  display: flex;
  justify-content: space-around;
  border:1px black solid;
  padding: 50px;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
}
.info-p{
  max-width: 420px;

}
.price{
  max-width: 275px;
  font-weight: bold;

}
.all {
  display: flex;
  width: 45%;
  gap: 19px;
}

.serah-4 {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  width: 220px;
  top: 630px;
  right: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px gray;
  align-items: center;
}
.serah-4 h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 150px;
}
.span-2 {
  font-size: 14px;
  font-weight: normal;
}
.price {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.serah-5 {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  top: 610px;
  width: 232px;
  right: 120px;
  border-radius: 10px;
  align-items: center;
  height: 65px;
  box-shadow: 0px 0px 30px gray;
}
.serah-5 h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 150px;
}
.serah-5 span {
  font-size: 14px;
  font-weight: normal;
}
.serah-7 {
  display: flex;
  justify-content: space-around;
  width: 232px;
  position: absolute;
  background-color: white;
  top: 350px;
  right: 120px;
  align-items: center;
  border-radius: 10px;
  height: 65px;
  box-shadow: 0px 0px 30px gray;
}
.serah-7 h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 150px;
}
.serah-7 span {
  font-size: 14px;
  font-weight: normal;
}
.img-1 img{
  object-fit: cover;
  width: 254px;
  height: 531px;
  border-radius: 20px;
  position: relative;
}
.img-2 img{
  object-fit: cover;
  width: 254px;
  height: 251px;
  border-radius: 20px;
  position: relative;
}
.img-3 img{
  object-fit: cover;
  width: 254px;
  height: 251px;
  border-radius: 20px;
  position: relative;
}